<div class="container" ng-controller="MainController as login">

	<form class="form-horizontal" ng-submit="login.doLogin()" method="post">
	
		<div class="form-group">
			<label class="control-label" for="username">User Name:</label>
			<input type="text" name="username" ng-model="login.loginData.username" class="form-control" placeholder="Enter User Name">
		</div>
		<div class="form-group">
			<label class="control-label" for="password">Password:</label>
			<input type="password" name="password" ng-model="login.loginData.password" class="form-control" placeholder="Enter Password">
		</div>
		<button class="btn btn-success" type="submit">Login</button>
	</form>
</div>